/*
.quarter-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    border-radius: 5vh;
    color: white;
    background-color: hsl(120, 70%, 60%)
}
.checkpoint-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 60px;
    border-radius: 6vh;
    margin-left: 45px;
    margin-top: 30px;
    background-color: blueviolet;
}
.checkpoint {
    padding: 2%;
    padding-left: 5%;
    padding-top: 6%;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 4vh;
    margin-left: 20px;
    background-color: gray;
}
*/

body { 
    border: 10px solid orange;
    margin: 0;
}

div {
    border: 10px solid;
}

.quarters {
    border: 10px solid black;
    margin: 20px;
}
.quarter-titles {
    border-color: red;
    width: 150px;
    height: 85px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}
.checkpoints {
    border-color: yellow;
    margin: 2%;
    margin-top: 10%;
}
.checkpoint-titles {
    border: 0;
    margin-left: 5%;
    margin-top: -5%;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.trees {
    border-color: magenta;
    margin: 1%;
    margin-bottom: 2%;
}
.tree-titles { border-color: blue }
.tree-lists { border-color: cyan }